header.header.header-form
  .container
    a.header__logo(href="./index.html")
      .header__logo--icon
        include ../../../img/svg/logo.svg
      .header__logo--text.h2 гросс маркет
    a.header__close(href="./index.html")
      include ../../../img/svg/close.svg
