header.header
  .container
    a.header__logo(href="./index.html")
      .header__logo--icon
        include ../../../img/svg/logo.svg
      .header__logo--text.h2 гросс маркет
    .header__links
      a.header__links--phone-icon(href="tel:+79264331416" target="_blank")
        include ../../../img/svg/phone.svg
      a.header__links--phone.text-main(href="tel:+79264331416" target="_blank") +7 (926) 433-14-16
      a.header__links--button.text-main.bg-yellow(href="./anketa.html") заполнить анкету
