doctype html
html
  include ../../common/_head
  body
    include  ../../common/header/header-form

    .page-thanks
      .container
        h1 Ждем тебя!
        .content
          .content-left
            p.text-main В 2020 году самыми востребованными умениями и качествами на рынке труда станут:
            p.text-2 Умение ставить цели, планировать свое время, инициативность, настойчивость, высокая мотивация, умение эффективно общаться, любознательность. 
            p.text-main А профессиональным навыкам можно научить любого человека.
          .content-right
            h2 Остались вопросы?
            a.phone.h3.bg-gray(href="tel:+79264331416" target="_blank") +7 (926) 433-14-16
    
    include ../../common/modal/modal-privicy.pug

    include ../../common/footer/footer
    include ../../common/_foot
