extends ../../layout/default

block content
  .page-main
    include ./_blocks/block-1
    include ./_blocks/block-2
    include ./_blocks/block-3
    include ./_blocks/block-4

    include ../../common/modal/modal-privicy.pug
