.page-main {
  .block-1 {
    .banner {
      overflow: hidden;
      .container {
        position: relative;
        height: 590px;
        padding-top: 48px;
        @include breakpoint(sm) {
          height: 400px;
        }
      }
      .title {
        font-size: 48px;
        @include breakpoint(sm) {
          font-size: 65px;
          max-width: 350px;
        }
        @include breakpoint(lg) {
          font-size: 72px;
          max-width: 490px;
        }
      }
      &.banner-1,
      &.banner-3 {
        .img-container {
          background-image: url(../img/images/banners/banner-1.png);
        }
        .name {
          bottom: 222px;
          left: 98px;
          @include breakpoint(sm) {
            bottom: 154px;
            left: 80px;
          }
          @include breakpoint(lg) {
            bottom: 154px;
            left: 120px;
          }
        }
        .vacancy {
          top: 96px;
          right: 98px;
          @include breakpoint(sm) {
            top: 154px;
            right: 285px;
          }
          @include breakpoint(lg) {
            top: 154px;
            right: 120px;
          }
        }
      }
      &.banner-2,
      &.banner-4 {
        .img-container {
          background-image: url(../img/images/banners/banner-2.png);
        }
        .name {
          top: 96px;
          left: 98px;
          @include breakpoint(sm) {
            top: 154px;
            left: 80px;
          }
          @include breakpoint(lg) {
            top: 154px;
            left: 120px;
          }
        }
        .vacancy {
          bottom: 222px;;
          right: 98px;
          @include breakpoint(sm) {
            bottom: 154px;
            right: 285px;
          }
          @include breakpoint(lg) {
            bottom: 154px;
            right: 120px;
          }
        }
      }
      .img-container {
        position: absolute;
        bottom: -140px;
        right: 50%;
        width: 539px;
        height: 539px;
        transform: translate(50%, 0);
        border-radius: 50%;
        background-color: $yellow-color;
				background-repeat: no-repeat;
				background-size: auto 400px;
				background-position: top center;
        @include breakpoint(sm) {
          width: 612px;
          height: 612px;
          bottom: 50%;
          right: -284px;
          transform: translate(0, 50%);
          background-size: auto 400px;
          background-position: center;
        }
        @include breakpoint(lg) {
          bottom: 50%;
          right: 0px;
          transform: translate(0, 50%);
          background-size: auto 400px;
          background-position: center;
        }
        .name,
        .vacancy {
          position: absolute;
          padding: 12px 16px;
          border-radius: 27px;
        }
      }
    }
    & > .container {
      position: relative;
    }
    .nav-container {
      display: none;
      position: absolute;
      left: 0;
      bottom: 48px;
      border-radius: 8px;
      z-index: 10;
      @include breakpoint(sm) {
        display: flex;
      }
      .banners-prev,
      .banners-next {
        width: 44px;
        height: 44px;
				background-repeat: no-repeat;
				background-size: 24px;
				background-position: center;
        &:hover {
          background-size: 30px;
        }
      }
      .banners-prev {
        background-image: url(../img/svg/prev_black.svg);
        &.disabled {
          background-image: url(../img/svg/prev_gray.svg);
        }
      }
      .banners-next {
        background-image: url(../img/svg/next_black.svg);
        &.disabled {
          background-image: url(../img/svg/next_gray.svg);
        }
      }
      &::after {
        content: '';
        width: 1px;
        height: 28px;
        background-color: $gray-color;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .block-2 {
    padding-top: 48px;
    @include breakpoint(sm) {
      padding-top: 72px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-container {
        display: none;
        @include breakpoint(sm) {
          display: flex;
          gap: 24px;
        }
        .cards-prev,
        .cards-next {
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-size: 24px;
          background-position: center;
          &:hover {
            background-size: 30px;
          }
        }
        .cards-prev {
          background-image: url(../img/svg/prev_black.svg);
          &.disabled {
            background-image: url(../img/svg/prev_gray.svg);
          }
        }
        .cards-next {
          background-image: url(../img/svg/next_black.svg);
          &.disabled {
            background-image: url(../img/svg/next_gray.svg);
          }
        }
      }
    }
    .cards {
      margin-top: 31px;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        height: 344px;
        border-radius: 8px;
        padding: 24px;
        cursor: pointer;
        @include breakpoint(sm) {
          height: 410px;
        }
        @include breakpoint(lg) {
          height: 482px;
        }
        &-name {
          position: relative;
          z-index: 10;
          display: inline-flex;
          padding: 12px 16px;
          border-radius: 27px;
        }
        &-info {
          opacity: 0;
          visibility: hidden;
          position: relative;
          z-index: 10;
          transition: all 0.2s;
        }
        &-image {
          width: 200px;
          height: auto;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          @include breakpoint(sm) {
            width: 270px;
          }
          @include breakpoint(lg) {
            width: 340px;
          }
        }
        &-4 {
          .card-image {
            width: 180px;
            @include breakpoint(sm) {
              width: 250px;
            }
            @include breakpoint(lg) {
              width: 300px;
            }
          }
        }
        &-6 {
          .card-image {
            left: 0;
            transform: translateX(0);
          }
        }
        &::after {
          content: '';
          opacity: 0;
          visibility: hidden;
          background-color: $yellow-color;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 8px;
          transition: all 0.3s;
        }
        &:hover {
          &::after,
          .card-info {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .block-3 {
    padding: 48px 0 0;  
    @include breakpoint(sm) {
      padding: 72px 0 0;
    }
    @include breakpoint(lg) {
      padding: 72px 0;
    }
    .items {
      display: grid;
      grid-gap: 12px;
      margin-top: 32px;
      .item {
        background-color: $gray-color;
        border-radius: 8px;
        grid-column: span 1;
        height: 343px;
        @include breakpoint(sm) {
          grid-column: span 2;
          height: 210px;
        }
        @include breakpoint(lg) {
          grid-column: span 1;
          height: 255px;
        }
      }
      @include breakpoint(sm) {
        grid-gap: 30px;
        grid: "a1 a1 a1 a2 a2 a2";
        .item-1 {
          grid-area: a1;
          height: 330px;
        }
        .item-2 {
          grid-area: a2;
          height: 330px;
        }
      }
      @include breakpoint(lg) {
        grid-gap: 30px;
        grid: "a1 a1 a2 a3"
              "a1 a1 a4 a5";
        .item-1 {
          grid-area: a1;
          height: 100%;
        }
        .item-2 {
          height: 255px;
        }
      }
    }
    button {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      border-radius: 8px;
      padding: 12px 16px;
      transition: all 0.3s;
      margin-top: 12px;
      @include breakpoint(sm) {
        margin-top: 30px;
      }
      &:hover {
        background-color: $yellow-color
      }
    }
  }

  .block-4 {
    padding: 48px 0 0;
    @include breakpoint(sm) {
      padding: 72px 0 0;
    }
    @include breakpoint(lg) {
      padding: 72px 0;
    }
    .map-container {
      width: 100%;
      margin: 32px auto 0;
      @include breakpoint(sm) {

      }
      @include breakpoint(lg) {
        max-width: 1110px;
      }
      #map {
        height: 600px;
        @include breakpoint(lg) {
          height: 540px;
        }
        .ymaps-2-1-79-ground-pane {
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
        }
        .ymaps-2-1-79-copyrights-pane {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
    .map-controls {
      position: relative;
      .filter {
        position: absolute;
        left: 0;
        bottom: 32px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include breakpoint(sm) {
          left: 0;
          bottom: 48px;
        }
        @include breakpoint(lg) {
          left: 24px;
          bottom: 24px;
        }
        button {
          border-radius: 8px;
          padding: 10px 15px;
          align-self: flex-start;
          transition: all 0.3s;
          &.active,
          &:hover {
            background-color: $yellow-color;
          }
        }
      }
      .zoom {
        position: absolute;
        right: 0;
        bottom: 32px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        @include breakpoint(sm) {
          right: 0;
          bottom: 48px;
        }
        @include breakpoint(lg) {
          right: 24px;
          bottom: 24px;
        }
        &-plus,
        &-minus {
          width: 44px;
          height: 44px;
          background-repeat: no-repeat;
          background-size: 24px;
          background-position: center;
          &:hover {
            background-size: 30px;
          }
        }
        &-plus {
          background-image: url(../img/svg/plus.svg);
        }
        &-minus {
          background-image: url(../img/svg/minus.svg);  
        }
        &::after {
          content: '';
          width: 28px;
          height: 1px;
          background-color: $gray-color;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);;
        }
      }
    }
  }
}
