section.block-4
  .container
    h2 география
  .map-container
    #map
  .container
    .map-controls
      .filter
        button.filter-companies.text-main.bg-white юрлица
        button.filter-individuals.text-main.bg-white физлица
        button.filter-all.active.text-main.bg-white показать всё
      .zoom.bg-white
        button.zoom-plus
        button.zoom-minus
