section.block-1.bg-gray
  .banners.owl-carousel
    .banner.banner-1
      .container
        h1.title У тебя к&nbsp;этому талант
        .img-container
          .name.h3.bg-white валентин
          .vacancy.h3.bg-white пекарь
    .banner.banner-2
      .container
        h1.title У тебя всё&nbsp;под контролем
        .img-container
          .name.h3.bg-white ксения
          .vacancy.h3.bg-white товаровед
    .banner.banner-3
      .container
        h1.title У тебя к&nbsp;этому талант
        .img-container
          .name.h3.bg-white валентин
          .vacancy.h3.bg-white пекарь
    .banner.banner-4
      .container
        h1.title У тебя всё&nbsp;под контролем
        .img-container
          .name.h3.bg-white ксения
          .vacancy.h3.bg-white товаровед
  .container
    .nav-container.bg-white
      button.banners-prev.disabled
      button.banners-next
