section.block-2
  .container
    h2 вакансии в гросс маркете
    .nav-container.bg-white
      button.cards-prev.disabled
      button.cards-next
  .cards.owl-carousel
    .card.card-1.bg-gray
      .card-name.h3.bg-white товаровед
      .card-info.text-main Доставка товара по&nbsp;магазинам и&nbsp;гипермаркетам компании в&nbsp;обслуживаемом регионе
      img.card-image(src="./img/images/cards/card-1.png", alt="")
    .card.card-2.bg-gray
      .card-name.h3.bg-white водитель
      .card-info.text-main Доставка товара по&nbsp;магазинам и&nbsp;гипермаркетам компании в&nbsp;обслуживаемом регионе
      img.card-image(src="./img/images/cards/card-2.png", alt="")
    .card.card-3.bg-gray
      .card-name.h3.bg-white пекарь
      .card-info.text-main Доставка товара по&nbsp;магазинам и&nbsp;гипермаркетам компании в&nbsp;обслуживаемом регионе
      img.card-image(src="./img/images/cards/card-3.png", alt="")
    .card.card-4.bg-gray
      .card-name.h3.bg-white кассир
      .card-info.text-main Доставка товара по&nbsp;магазинам и&nbsp;гипермаркетам компании в&nbsp;обслуживаемом регионе
      img.card-image(src="./img/images/cards/card-4.png", alt="")
    .card.card-5.bg-gray
      .card-name.h3.bg-white подавец
      .card-info.text-main Доставка товара по&nbsp;магазинам и&nbsp;гипермаркетам компании в&nbsp;обслуживаемом регионе
      img.card-image(src="./img/images/cards/card-5.png", alt="")
    .card.card-6.bg-gray
      .card-name.h3.bg-white повар
      .card-info.text-main Доставка товара по&nbsp;магазинам и&nbsp;гипермаркетам компании в&nbsp;обслуживаемом регионе
      img.card-image(src="./img/images/cards/card-6.png", alt="")
    .card.card-7.bg-gray
      .card-name.h3.bg-white приёмщик
      .card-info.text-main Доставка товара по&nbsp;магазинам и&nbsp;гипермаркетам компании в&nbsp;обслуживаемом регионе
      img.card-image(src="./img/images/cards/card-7.png", alt="")
