$mainfont:
  "Euclid Circular B",
  sans-serif,
  -apple-system;

$black-color: #000;
$yellow-color: #FFDF31;
$gray-color: #F5F5F5;
$darkGray-color: #B3B3B3;
$white-color: #fff;
$red-color: #f66;
$lightRed-color: #ffe6e6;
