script(src="./assets/jquery/dist/jquery.min.js")
script(src="./assets/owl.carousel/dist/owl.carousel.min.js")
script(src="./assets/@fancyapps/fancybox/dist/jquery.fancybox.min.js")
script(src="./assets/jquery-validation/dist/jquery.validate.min.js")
script(src="./assets/jquery.inputmask/dist/jquery.inputmask.bundle.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
script(src!="./js/scripts.min.js?v=<?= time() ?>")
